
body{
    color: antiquewhite;
}
/* Begin Header*/
header{
    height: 30%;
    width:100%;
    background-image: url(images/headphones_hero_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.headTop{
    display: flex;
    justify-content: space-around;
}
.headerLogo{
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
}
.nav1{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end; 

}
.nav1 a{
    color: antiquewhite;
}
.headMid{
    display: flex;
    flex-direction: column;
    margin-top: 160px; 
    margin-left: 130px;
    margin-right: 120px;
    text-align: center;
}
.headMid h1{
    margin-bottom: 0px;
}
.headMid p{
    margin-top: 0px;
}

.headMid button{
    align-self: center;
    width: 120px;
    text-align: center;
    background-color: rgb(187, 99, 99);
    border-radius: 2cm;
    color: antiquewhite;
    height: 40px ;
    border-color: rgb(187, 99, 99);
    margin-top: 10px;
    margin-bottom: 60px;
}

.headMid button:hover, .headMid button:active{
    opacity: 0.9;
}
.nav1 a:hover, .nav1 a:hover{
    color: #FF6565;
}
/* end Header*/
@media screen and (max-width: 480px) {
    .flexContainer{
        flex-wrap: wrap;
    }
}